[DATABASE]
DATABASE_ENGINE = django.db.backends.mysql
DATABASE_NAME = 
DATABASE_USER = 
DATABASE_PASSWORD = 
DATABASE_HOST = 
DATABASE_PORT = 

[APPLICATION]
DEBUG = True
SECRET_KEY = +x5)i%%ich2uqn9^y0scn$j&9znzh7&bpj9!yw)7js5d4hb@m(
SESSION_TIMEOUT = 3600